
  <div class=" h-screen w-[70%] pt-5 pl-16 pr-5 overflow-auto">
    <div class="flex justify-between items-center pt-3">
      <p class="text-4xl font-medium"><%= @list.name %></p>
      <button>
        <%= link_to "Add new task", new_task_path(list_id: @list.id), class:"h-[50px] w-[145px] bg-[#4F46E5] rounded-md text-white flex justify-center items-center" %>
      </button>
    </div>

    <!-- <div>
      <%= link_to "Edit this list", edit_list_path(@list) %> |
      <%= link_to "Back to lists", lists_path %>
    
      <%= button_to "Destroy this list", @list, method: :delete %>
    </div> -->

    <% @tasksForList.each do |task| %>
        <div class="w-[80%] h-[126px] mt-4 p-[24px] mb-3 bg-[#FFFFFF] shadow-[0px_1px_3px_rgba(0,0,0,0.1),0px_1px_2px_rgba(0,0,0,0.6)] rounded-md ">
          <div class="w-[100%] bg-[#F9FAFB] h-[78px] px-[24px] py-[14px] rounded-md ">
            <h2 class="text-lg text-[#111827] font-medium "><%= task.name %></h2>
            <div class="flex items-center justify-between ">
              <section class="flex items-center">
                <% if task.completed %>
                  <input type="checkbox" checked>
                <% else%>
                  <input type="checkbox" >
                <% end %>
                <% User.where(id: task.user_id).each do |u| %>
                  <p class="pl-4 text-xs font-normal text-[#6B7280]">Created by: <%=u.name %> </p>
                <% end %>
                <p class="pl-2 pb-2 font-normal text-[#6B7280]">.</p>
               
                <p class="pl-2 text-xs font-normal text-[#6B7280]">Comment <%= Comment.where(task_id: task.id).count %> </p>
  
              </section>
              <section class="mb-2">
                <%= link_to "Edit", task_path(task), class:"rounded-md text-sm font-medium shadow-[0px_1px_2px_rgba(0,0,0,0.5)] w-[60px] h-[38px] text-[#374151] py-[9px] px-[17px] bg-[#ffffff] " %>
              </section>
            </div>
          </div>
        </div>
    <% end %>
  </div>