<div class="flex justify-center items-center w-[100%] flex-col min-h-screen">
  <%= image_tag 'logo.png', class:"mb-4" %>
  <h1 class="font-bold text-3xl mb-4 not-italic ">Enter your new password</h1>
  <div class="bg-[#ffffff] shadow-[0px_1px_3px_rgba(0,0,0,0.1),0px_1px_2px_rgba(0,0,0,0.6)] w-[448px] h-[192px] px-[40px] py-[32px] rounded-lg ">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.label :password, "New password",class:"text-[#374151] pb-[2px]" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:"border border-[#D1D5DB] mb-3 mt-2 rounded-md pl-4 w-[100%] h-[40px] shadow-[0px_1px_2px_rgba(0,0,0,0.5)]" %>
      </div>

      <!-- <div class="field">
        <%= f.label :password_confirmation, "Confirm new password" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div> -->

      <div class="actions">
        <%= f.submit "Change my password",class: 'w-[100%] bg-[#4F46E5] h-[38px] rounded-md text-[#fff] ' %>
      </div>
    <% end %>
  </div>
<!-- <%= render "devise/shared/links" %> -->
</div>